<h1>About me:</h1>
<img src="../../assets/images/me.jpg" alt="A picture of me">
<div class="profile">
    <p>Rafael P Ribeiro</p>
    <p>Full Stack Web Developer</p>
</div>

<p>
    I am a passionate Web Developer, with a passion for always learning more about web development and programming in general, and
    a joyful obsession for solving problems.
</p>
<p>
    Coming from a background in Law, it's natural to me the process of understanding and learning complex systems of rules and
    regulations (basically what a programming language is), I can easily devour books about languages, frameworks, practices and
    novelties about this amazing field of Information Technology.
</p>
<p>
    Currently wrapping up the Computer Programmer Diploma Program at Seneca College, holding a GPA of 4.0, I feel completely 
    confident that I can be of great contribution to any great company in Canada.
</p>
<p>
    I can be reached through the email <a href="mailto:rpacheco-ribeiro@myseneca.ca">rpacheco-ribeiro@myseneca.ca</a>, and my 
    LinkedIn profile can be viewed <a href="https://www.linkedin.com/in/rafael-pacheco-ribeiro/">here</a>.
</p>

<h2>About this website:</h2>
<p>
    This blog website was built and designed from scratch, using the Angular 7 framework, the library Ng-Bootstrap, and upon the
    Firebase Cloud Services.
</p>