h1, h2 {
    font-family: 'Merriweather Sans', sans-serif;
}

img {
    display: inline;
    margin: 1% 2% 2% 0;
    border: 2px solid rgb(128, 127, 127);
    border-radius: 5px;
}

.profile {
    display: inline-block;
    width: 60%;
    padding: 3%;
}

.profile p {
    margin: 0;
}

p {
    text-align: justify;
}